.vscode/**
.classpath
.project
.settings
.checkstyle
*LocalTest.java
bin
.DS_Store
/target/
/target-eclipse/
*.iml
/.idea
log.txt
/target-eclipse/
/src/main/resources/log4j.xml
/src/main/resources/logback.xml
./src/main/webapp/META-INF/MANIFEST.MF
MANIFEST.MF
workspace.xml
*.diff
./*/target/
*/target/

*/*/target/test-classes/

*/rebel.xml
*/rebel-remote.xml

*/workspace.xml
./*.iml
.gitignore
./*/*.iml
.idea/workspace.xml
*/workspace.xml
.flattened-pom.xml
*/.flattened-pom.xml
*/*/.flattened-pom.xml